{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} My Blog{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- font Awesome --->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></li>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 <style type="text/css">
 {% block style %}{% endblock %}
 </style>
 {% block head_extra %}{% endblock %}
</head>
<body>
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

	{% include "messages_display.html" %}
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="{% url 'posts:list' %}">Home</a></li>
			<!-- <li><a href="{% url 'posts:list' %}">Post</a></li> -->
			{% block post_detail_link %}
			{% endblock %}

			{% if not request.user.is_authenticated %}
			<li class="pull-right"><a href="{% url 'register' %}">Register</a></li>
			<li class="pull-right"><a href="{% url 'login' %}">Login</a></li>		
			{% else %}		
			<li class="pull-right"><a href="{% url 'logout' %}">Logout</a></li>
			{% endif %}
		</ol>
		{% block content %}{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-1.12.2.min.js"
	integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="
	crossorigin="anonymous"></script>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.1/marked.js"></script>

	<scritp src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.1/marked.min.js"></scritp>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".content-markdown").each(function(){
				var content = $(this).text()
				var markedContent = marked(content)
				$(this).html(markedContent)
		    })
		    $(".post-detail-item img").each(function(){
		    	$(this).addClass("img-responsive");
		    })



		    var contentInput = $("#id_content");

		    function setContent(value){
		    	var markedContent = marked(value)
		    	$("#preview-content").html(markedContent)
		    	$("#preview-content img").each(function(){
		    		$(this).addClass("img-responsive")
		    	})
		    }

		    setContent(contentInput.val())

		    contentInput.keyup(function(){
		    	var newContent = $(this).val()
		    	setContent(newContent)
		    })

		    var titleInput = $("#id_title");


		    function setTitle(value) {
		    	$("#preview-title").text(value)
		    }
		    setTitle(titleInput.val())

		    titleInput.keyup(function() {
		    	var newContent = $(this).val()
		    	setTitle(newContent)		    	
		    })

		    $(".comment-reply-btn").click(function(event){
		    	event.preventDefault();
		    	$(this).parent().next(".comment-reply").fadeToggle();
		    })
		    // preview-title
		    // preview-content
		})
	</script>

</body>
</html>